<nav>
  <ul>
    <li><a href="">Inicio</a></li>
    <li><a href="">Nosotros</a></li>
    <li><a href="">Contacto</a></li>
  </ul>
</nav>

<style>
  nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    padding: 1rem;
  }
  ul {
    display: flex;
    list-style: none;
    gap: 1rem;
  }
  li {
    font-weight: bold;
    font-size: 1.5rem;
    color: #333;
  }
  li a {
    text-decoration: none;
  }
  li a:hover {
    color: #000;
  }

  @media screen and (max-width: 430px) {
    nav {
      display: none;
    }
  }
</style>
